.headOne {
  margin: 0;
  padding: 0;
  color: #8e509b;
  font-size: 10em;
}
.headOne span {
  display: table-cell;
  margin: 0;
  padding: 0;
  animation: animate 5s linear infinite;
}
.one span {
  animation-delay: 0s;
}
.two span {
  animation-delay: 0.25s;
}
.three {
  animation-delay: 0.5s;
}
.four {
  animation-delay: 0.75s;
}
.five {
  animation-delay: 1s;
}
.six {
  animation-delay: 1.25s;
}
.seven {
  animation-delay: 1.5s;
}
.eight {
  animation-delay: 1.75s;
}
.nine {
  animation-delay: 2s;
}
.ten {
  animation-delay: 2.5s;
}

@keyframes animate {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 180px #00b3ff, 0 0 220px #00b3ff,
      0 0 240px #00b3ff;
  }
  5%,
  95% {
    color: #8e509b;
    filter: blur(0px);
    text-shadow: none;
  }
}
