* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: white;
}

.cocktail1 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 135px solid transparent;
  border-right: 135px solid transparent;
  border-top: 270px solid red;
  top: -200px;
  right: 0;
  bottom: 0;
  left: 65px;
  filter: drop-shadow(0 0 30px pink);
}

.cocktail1:after {
  content: "";
  background: red;
  height: 250px;
  position: absolute;
  width: 18px;
  top: -35px;
  left: -9px;
}

.cocktail1:before {
  content: "";
  position: absolute;
  border-bottom: 45px solid red;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 145px;
  top: 210px;
  left: -100px;
}

.cocktail2 {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 120px solid transparent;
  border-left: 240px solid red;
  border-bottom: 120px solid transparent;
  top: -200px;
  left: -25px;
}

.cocktail2:after {
  content: "";
  background: red;
  height: 330px;
  position: absolute;
  width: 18px;
  transform: rotate(34deg);
  right: 263px;
  bottom: -332px;
}

.cocktail2:before {
  content: "";
  position: absolute;
  border-bottom: 45px solid red;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 145px;
  left: -450px;
  top: 280px;
  transform: rotate(34deg);
}
.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}

button {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 180px;
  height: 0px;
  border-radius: 25px;
  cursor: pointer;
  z-index: 10;
  font-family: times;
  font-weight: bolder;
  font-size: 7mm;
  color: yellow;
  border-color: pink;
}

@keyframes pulse {
  0% {
    box-shadow: 2px 2px 5px pink;
    border-style: inset;
  }
  100% {
    box-shadow: 10px 10px 15px pink;
    border-style: outset;
  }
}

.menu {
  background: wheat;
  animation: pulse 1000ms infinite;
}

.clickedMenu {
  background: rgba(218, 217, 188, 0.849);
}

.menuMake {
  position: relative;
  display: inline-block;
  z-index: 2;
  top: 0.5in;
}
.linkCon {
  display: none;
  position: absolute;
  background-color: rgb(179, 237, 245);
  z-index: 4;
  min-width: 160px;
  left: 11px;
  overflow: scroll;
  height: 2.7in;
  top: 0.4in;
}

.linkCon::-webkit-scrollbar {
  width: 7px;
}

.linkCon::-webkit-scrollbar-track {
  background: fuchsia;
}

.linkCon::-webkit-scrollbar-thumb {
  background: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: red;
}

.linkCon a {
  display: block;
  min-width: 160px;
  padding: 12px 16px;
}

.linkCon a:hover,
a:focus-within {
  background-color: teal;
  color: azure;
}

.menuMake:focus-within .linkCon {
  display: block;
  border-radius: 40px;
}

@media screen and (max-width: 769px) {
  .cocktail1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 0;
    height: 100%;
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
    border-top: 270px solid red;
    top: -210px;
    right: 0;
    bottom: 0px;
    left: 0px;
    filter: drop-shadow(0 0 30px pink);
  }

  .cocktail1:after {
    content: "";
    background: red;
    height: 250px;
    position: absolute;
    width: 18px;
    top: -35px;
    left: -9px;
  }

  .cocktail1:before {
    content: "";
    position: absolute;
    border-bottom: 45px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 145px;
    top: 210px;
    left: -100px;
  }

  .menu {
    background: wheat;
    animation: pulse 1000ms infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow: 2px 2px 5px pink;
      border-style: inset;
    }
    100% {
      box-shadow: 10px 10px 15px pink;
      border-style: outset;
    }
  }

  .menuMake {
    position: relative;
    display: inline-block;
    z-index: 2;
    top: -200px;
    left: 44px;
  }
  .linkCon {
    display: block;
    position: absolute;
    background-color: rgb(179, 237, 245);
    z-index: 4;
    min-width: 160px;
    left: 11px;
    overflow: scroll;
    height: 2.7in;
    top: 0.4in;
  }

  .linkCon::-webkit-scrollbar {
    width: 7px;
  }

  .linkCon::-webkit-scrollbar-track {
    background: fuchsia;
  }

  .linkCon::-webkit-scrollbar-thumb {
    background: white;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: red;
  }

  .linkCon a {
    display: block;
    min-width: 160px;
    padding: 12px 16px;
  }

  .linkCon a:hover,
  a:focus-within {
    background-color: teal;
    color: azure;
  }

  button {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 0px;
    border-radius: 25px;
    cursor: pointer;
    z-index: 10;
    font-family: times;
    font-weight: bolder;
    font-size: 7mm;
    color: yellow;
    border-color: pink;
  }

  .spiritlogo {
    position: absolute;
    top: 270px;
    width: 50%;
    display: none;
  }

  .cocktail2 {
    content: "";
    display: none;
  }
}
