header {
  position: fixed;
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  font-size: 35px;
  z-index: 2;
  background-color: white;
  border-bottom: black;
  border-style: none;
  box-shadow: 5px 0px 15px grey;
}
h1 {
  color: sandybrown;
}
