.logohead {
  position: fixed;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 25px;
  z-index: 2;
  background-color: fuchsia;
  border-bottom: black;
  border-style: none;
  box-shadow: 5px 0px 10px fuchsia;
  height: 2em;
}
.h1logo {
  color: white;
  text-shadow: 2px 0px 22px rgb(245, 245, 244);
}
