header {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 10em;
  position: absolute;
}
header span {
  display: table-cell;
  margin: 0;
  padding: 0;
  animation: animate 2.5s linear infinite;
}
header span:nth-child(1) {
  animation-delay: 0s;
}
header span:nth-child(2) {
  animation-delay: 0.25s;
}
header span:nth-child(3) {
  animation-delay: 0.5s;
}
header span:nth-child(4)four {
  animation-delay: 0.75s;
}
header span:nth-child(5).five {
  animation-delay: 1s;
}
.header span:nth-child(6)six {
  animation-delay: 1.25s;
}
header span:nth-child(7).seven {
  animation-delay: 1.5s;
}
header span:nth-child(8).eight {
  animation-delay: 1.75s;
}
header span:nth-child(9).nine {
  animation-delay: 2s;
}
header span:nth-child(10)ten {
  animation-delay: 2.5s;
}

@keyframes animate {
  0%,
  100% {
    color: rgb(31, 17, 226);
    filter: blur(2px);
    text-shadow: 0 0 10px rgb(193, 28, 235), 0 0 20px rgb(193, 28, 235),
      0 0 40px rgb(193, 28, 235), 0 0 80px rgb(193, 28, 235),
      0 0 120px rgb(193, 28, 235), 0 0 200px rgb(193, 28, 235),
      0 0 300px rgb(193, 28, 235), 0 0 400px rgb(193, 28, 235);
  }
  5%,
  95% {
    color: white;
    filter: blur(0px);
    text-shadow: 0 0 10px none;
  }
}
